body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #e0e0e0;
    color: #333;
}

/* Header Section */
.header {
    text-align: center;
    padding: 20px 20px 1px;
    position: relative;
}

h1 { 
    margin: 20px 0px;
}

hr {
  border: none;
  height: 3px;
  background-color: #cfcfcf;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.subtitle {
    font-size: 20px;
    margin: 0px;
    color: #333;
}

/* Project Window */
.project-window {
    max-width: 750px;
    margin: 0 auto;
}

/* Project Card */
.project-card {
    background: #bdbdbd;
    border: 1px solid #9d9696;
    border-radius: 12px;
    margin-top: 10px;
    padding: 0px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Project Heading */
.project-heading {
    font-size: 28px;
    margin-bottom: 12px;
    font-weight: 600;
    color: #111;
}

p {
    line-height: 1.75;
    font-size: 16px;
}

.linkpara {
    text-align: center;
}

/* Button */
.btn {
    display: inline-block;
    padding: 8px 14px;
    background: #0073ff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    transition: background 0.2s ease;
}

.btn:hover {
    background: #005bd1;
}

/* Links */
a {
    color: #0070f3;
    text-decoration: none;
}

/* Horizontal line */
hr {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin: 40px 0;
}

/* home button */
.home-btn {
  position: fixed !important;
  top: 50px !important;
  left: 400px !important;
  z-index: 10;
  margin: 0;

  padding: 8px 16px;
  background-color: #333;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;

  transition: background-color 0.2s ease, transform 0.2s ease;
}

.home-btn:hover {
  background-color: #555;
  transform: scale(1.05);
  text-decoration: none;
}

.download-box {
   background-color: #bdbdbd;
    padding: 5px 20px 20px 20px;
    border-radius: 12px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
}

.download-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.download-btn:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 10px 2px rgba(0, 123, 255, 1.1);
    transform: scale(0.9);
}

/* for mobile */
@media (max-width: 600px) {
  .home-btn{
    left: 5px !important;
  }
}

